.rotate {
    /* FF3.5+ */
    -moz-transform: rotate(-90.0deg);
    /* Opera 10.5 */
    -o-transform: rotate(-90.0deg);
    /* Saf3.1+, Chrome */
    -webkit-transform: rotate(-90.0deg);
    /* IE6,IE7 */
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
    /* Standard */
    transform: rotate(-90.0deg);
  }

.conteudo-principal p{
  line-height: 200%;
}

.btn-rounded-circle{
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -o-border-radius: 70px;
  -ms-border-radius: 70px;
  border-radius: 70px;
  width: 70px;
  height: 70px;
  background-color: #d63384;
  color: #ffffff;
  border: none;
}